@media  screen and (max-width:576px) {
  .nav-content h1{
    margin:0px 1px 20px;
   }
  .nav-content h1,
  .nav-content h1 span{
    font-size: 35px;
  }
  
  .nav-options{
    display: none;

  }
  .ham-burger{
    display: block;
  }
  .nav-banner,
  .change-habits-img
  {
    display:flex;
    flex-direction: column;
  }
  .btn-simple,
  .btn-orange{
    padding: 16px 60px 16px 60px;
  }
  .card-01{
    top:50px;
    left: 180px;
   }
  .card-02{
    top:250px;
    left: 4px;
   }
   /* Change Habits */
   .change-habits-img div{
    width: 231px;
    height: 274px;
    margin: 0 auto;
  }
   /* Run Extra Mile */
   
    
      h2{
        font-size: 32px;
        font-weight: 700;         
      }
    .run-section{
      flex-direction: column;
      padding: 20px 23px 26px 31px;
      height: 520px;
    }
    .run-content,
    .run-img{
       width: 100%;
    }
     /* Meet Our Teams */
     .meet-team-description{
      grid-template-columns: repeat(1, 1fr) ;
    }
    /* BMI Calculator */
    .bmi-description{
      flex-direction: column;
    }
    .bmi-form{
      width: 100%;
    }
    .bmi-table{
      width: 100%;
    }
      /* Footer */
      .footer-section{
        grid-template-columns: repeat(1, 1fr);
        margin: 2rem auto;
        padding-top: 30px;
        padding-left: 20px;
 }
 .footer-section{
  width:100%;
  text-align: left;
  
}
.footer-section p{
  font-size: 19px;
  margin: 7px;
}
.footer-column{
  text-align: left;
}
}