@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin:0;
box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  background-color: black;
}
/* default styles */
.container{
  width:80%;
  margin:3rem auto; /* 1rem = 16px */
  border-radius: 1px;
}
.text-content,
td{
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 13px;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
}
h2{
  font-size: 38px;
  font-weight: 600; 
  color:white;
  margin:14px 0;
}
h4{
  color: white;
}
/* navbar */
h3{
 color:  rgb(230, 83, 60);
 font-size: 32px;
 font-weight: 800;

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-options{
  display: flex;
  align-items: center;
  gap: 10px;
  border:1px solid rgba(135, 127, 127, 0.473);
  border-radius: 69px;
  color: white;

}
.nav-options p{
  font-size: 13px;
  font-weight: 300;
  margin: 11px 20px 11px 1px;

}
.nav-options span{
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 10px 25px ;
  font-weight: bold;
}
.ham-burger{
  color: white;
  display: none;
}

/* Banner section */
.nav-banner{
  display: flex;
}
.nav-content {
 color:white;
 width:100%;
}
.nav-content h1{
 font-size: 65px;
 font-weight: 900;
 margin:90px 1px 20px;
}
.nav-content span{
 font-size: 60px;
letter-spacing: 0.1px;
color: rgba(255, 255, 255, 0.893);
}
.btn-primary{
  display: flex;
}
.btn-simple,
.btn-orange{
 border: 1px solid rgb(255, 255, 255);
 padding: 16px 70px 16px 70px;
 border-radius: 42px;
 color: white;
 background-color: black;
 margin:25px 5px;
}
.btn-orange{
 background-color:rgb(230, 83, 60) ;
 border: none;
}
.nav-img {
 width:100%;
 object-fit: cover;
 position: relative;
}
.card-01,
.card-02{
 width: 150px;
 height: 98px;
 border: 1px solid rgba(255, 255, 255, 0.1);
 border-radius: 12px;
 backdrop-filter: blur(20px);
 color: white;
 background: rgba(255, 255, 255, 0.1);
 padding-top: 20px;
 position: absolute;
 top:100px;
 left: 200px;
 font-weight: bold;

}
.card-02{
 display: flex;
 align-items: center;
 justify-content: center;
 top:450px;
 left: 4px;
}
.circle{
 background: rgb(230, 83, 60);
 height: 35px;
 border-radius: 70%;
 width: 35px;
 margin-right: 5px;

}
/* change Your Habits */
.change-habits{
color: white;
text-align: center;
}
.change-habits-img{
  display: flex;
  gap: 40px;
  margin-top: 56px;
  margin-bottom: 56px;
}
.change-habits-img img{
  border-radius: 50%;
  margin-bottom: 20px;
  border:1px solid rgba(135, 127, 127, 0.628);

}
/* Run an Extra Mile section */
.run-section{
  display: flex;
  background: rgb(34, 34, 34);
  border-radius: 2%;
  height: 400px;
  padding: 46px 43px 46px 51px;
}
.run-content,
.run-img{
  /* padding: 20px; */
  width: 50%;
}
.run-section img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 8%;
}
/* BMI Calculator */
 .bmi-calculator{
   
}
.bmi-title{
  
  margin: 52px auto;
} 
.bmi-description{
 
  color:White;
  display: flex;
  
}
/* table */
caption{
  font-size: 28px;
  font-weight: 900;
  margin: 0px 0px 50px;

}
table{
  border-collapse:collapse;

}

th,
td{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding:10px 20px ;
  text-align: left;
}
.bmi-table{
  width: 70%;
}
/* form */
.form-background{
  background: rgb(34, 34, 34);
}
.bmi-form{
  width: 80%;
}
h4{
  font-size: 28px;
  font-weight: 900;
  margin: 0px 0px 15px;
}
.form-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.form-field{
  width: 48%;
  margin-top:  10px;
  
}
.form-field-select{
  margin-top: 15px;
}
.form-field-select,
.form-container input,
select{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    
}

/* Meet Our Team */
.meet-team-title{
  text-align: center;

}
.meet-team-title p{
  width:70%;
  margin: 0 auto 50px;
}
.meet-team-description{
  background: rgb(34, 34, 34);
  border-radius: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
}
.meet-team-description img{
  width: 90%;
  height: 272px;
  border-radius: 5%;
  margin: 19px;
  object-fit:cover;

}
.meet-trainers{
  position: relative;
}
.trainers-name{
  position: absolute;
  top: 225px;
  left:20px;
}
/* Footer Section */
.footer{
  background: rgba(255, 255, 255, 0.1);
}
footer h1{
  color:  rgb(230, 83, 60);
  font-size: 70px;
}
.footer-section{
  width:90%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 50px;
  text-align: center;
}
.footer-column h4{
  margin-bottom: 20px;
}

hr{
  border: 2px solid rgba(255, 255, 255, 0.1);
  width:90%;
  margin: 0 auto;
}
.footer-p{
  margin:15px auto ;
  text-align: center;
  padding-bottom:20px ;
}